<!-- form for adding a new contact -->

<div class="container">
  <h1>Add a Contact</h1>
  <div class="center">
    <form  ng-submit="addContact(e)">
      <div class="form-group">
        <input class="form-control" pattern="[A-Za-z]{1,15}" title="Enter your first name. Letters only!" type="text" placeholder="Enter First Name" ng-model="fName" required />
      </div>
      <div class="form-group">
        <input class="form-control" pattern="[A-Za-z]{1,15}" title="Enter your last name. Letters only!" type="text" placeholder="Enter Last Name" ng-model="lName" required />
      </div>
      <div class="form-group">
        <input class="form-control center" type="email" placeholder="Enter E-mail" ng-model="email" required />
      </div>
      <button type="submit" class="submit btn btn-primary">Enter</button>
      <button type="button" ng-click="goHome()" class="cancel btn btn-danger">Cancel</button>
    </form>
  </div>
</div>
