$primaryColor: #eef1e9;


body {
    background: $primaryColor;
}

#close {
  display: none;
}

.header-background {
  background-color: #a394f5;
  height: 100px;
}

.row {
    margin-bottom: 10px;

}


.name {
  font-size: 20px;
  overflow: hidden;
  text-align: center;
  padding-top: 12px;
}

.email {
  font-size: 20px;
  overflow: hidden;
  padding-top: 12px;
}

h1 {
  text-align: center;

}

.head {
  position: relative;
}

.add {
  float: right;
  margin-top: 10px;
}

.contactBox {
  background-color: white;
  height: 50px;
  vertical-align: middle;
  border-radius: 5px;
  -webkit-box-shadow: -1px 4px 5px 0px #c9c5c9;
  -moz-box-shadow: -1px 4px 5px 0px #c9c5c9;
  box-shadow: -1px 4px 5px 0px #c9c5c9;
}

// .userImg {
//   float: left;
//   vertical-align: middle;
//
// }

.form-control {
  width: 50%;
  margin: 0 auto;
}

.submit {
  margin-left: 25%;


}
.cancel {
  margin-left: 20px;
}

.glyphicon-envelope {
  padding-left: 80px;
  padding-right: 10px;
}

.glyphicon {
  font-size: 1.5em;
}

.main-header {
  font-family: 'Bangers', cursive;
  font-size: 5em;
  color: white;
  text-align: center;
  padding-top: 10px;
}

img {
  height: 50px;
  float: left;
  vertical-align: middle;
}
// #remove{
//   float: right;
//   margin-top: 1px;
// }
