/*html elements*/

body {
  background: #eef1e9; }

h1 {
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  color: rgba(171, 171, 198, 0.86);
}

img {
  height: 50px;
  float: left;
  vertical-align: middle; }

/*bootstrap classes*/
.row {
  margin-bottom: 10px; }

.form-control {
  width: 50%;
  margin: 0 auto; }

/*custom classes*/
  /*buttons*/
.goToAddButton {
  float: right;
  margin-top: 10px;
}

.submit {
  margin-left: 25%;
}

.cancel {
  margin-left: 20px;
}

/*page layout*/
.contact-list-header {
  font-family: 'Bangers', cursive;
  font-size: 5em;
  color: white;
  text-align: center;
  padding-top: 10px;
}

.header-background {
  background-color: #a394f5;
  height: 100px;
}

.contactBox {
  background-color: white;
  height: 50px;
  vertical-align: middle;
  border-radius: 5px;
  -webkit-box-shadow: -1px 4px 5px 0px #c9c5c9;
  -moz-box-shadow: -1px 4px 5px 0px #c9c5c9;
  box-shadow: -1px 4px 5px 0px #c9c5c9;
}

.name {
  font-size: 20px;
  overflow: hidden;
  text-align: center;
  padding-top: 12px;
}

.email {
  font-size: 20px;
  overflow: hidden;
  padding-top: 12px;
}
